In [4]:
import pandas as pd
following = pd.read_csv("following.csv")
print(following.keys())

Index(['Unnamed: 0', 'uri', 'did', 'subject', 'created_at', 'display_name',
       'description', 'followers_count', 'follows_count', 'posts_count'],
      dtype='object')

In [9]:
def get_user_following_the_same_account(df, user_did):
    # Filter DataFrame to get rows with the same subject as user_did
    same_subject_df = df[df['subject'].isin(df[df['did'] == user_did]['subject'])]
    
    # Filter DataFrame to get rows with different did than user_did
    different_did_df = same_subject_df[same_subject_df['did'] != user_did]
    
    # Get unique did values
    unique_dids = different_did_df['did'].unique()
    
    # Calculate the number of overlapping subjects for each DID
    overlapping_counts = []
    for did in unique_dids:
        overlapping_count = same_subject_df[same_subject_df['did'] == did]['subject'].nunique()
        overlapping_counts.append((did, overlapping_count))
    
    # Create a DataFrame to store the overlapping counts
    overlapping_df = pd.DataFrame(overlapping_counts, columns=['did', 'overlapping_subject_count'])
    
    # Sort the DataFrame by overlapping subject count in descending order
    overlapping_df = overlapping_df.sort_values(by='overlapping_subject_count', ascending=False)
    
    return overlapping_df

get_user_following_the_same_account(following, "did:plc:snjxvu5fmqeyto5dqlwxjwgq")

                                  did  overlapping_subject_count
427  did:plc:mdpndtkinvfaxtf64ubgftzs                         12
23   did:plc:upo6iq6ekh66d4mbhmiy6se4                          9
210  did:plc:x37liwax4fxotpumelqu4pmu                          9
406  did:plc:ewvi7nxzyoun6zhxrhs64oiz                          9
32   did:plc:vj2zps5rtuvj3jhblsv54kzz                          7
..                                ...                        ...
182  did:plc:ogrba2lmhzjdnpqsdxwffue4                          1
180  did:plc:s36fzun6eeevankxtkhq5arv                          1
178  did:plc:wki7wnpoq63hkuaz5uo6mlub                          1
177  did:plc:rr2ic7hgetx4tk7c44bcvzvs                          1
485  did:plc:7r5c5jhtphcpkg3y55xu2y64                          1

[486 rows x 2 columns]